---
import { getEpisodeData, getRickAndMortyCharacter } from "src/utils/api";
import { Image } from "@astrojs/image/components";
import EntityLayout from "@layouts/entity.astro";
import InfoCard from "@components/content/info-card.astro";
import EpisodeList from "@components/content/episode-list.astro";
import { generatePageUrlFromApiUrl } from "src/utils/common";

const { id } = Astro.params;

const matchedCharacter = await getRickAndMortyCharacter(id as string);
const firstSeenEpisode = await getEpisodeData(matchedCharacter.episode[0]);
const lastSeenEpisode = await getEpisodeData(matchedCharacter.episode.at(-1)!);
---

<EntityLayout>
  <div slot="image" class="flex-shrink-0">
    <Image
      src={matchedCharacter.image}
      alt="Character image"
      height={500}
      width={500}
      class="aspect-square lg:absolute lg:top-1/2 lg:-mt-[250px] lg:left-20 rounded-full overflow-hidden h-40 w-40 sm:h-64 sm:w-64 lg:h-auto lg:w-auto"
    />
  </div>
  <div slot="header" class="text-center sm:text-left text-with-shadow flex-1">
    {matchedCharacter.name}
  </div>
  <div
    id="informations"
    slot="informations"
    class="py-8 px-8 sm:pr-8 grid grid-cols-2 gap-y-4 gap-x-8 text-center sm:text-left"
  >
    <InfoCard title="Status" value={matchedCharacter.status} />
    <InfoCard title="Species" value={matchedCharacter.species} />
    <InfoCard title="Type" value={matchedCharacter.type} />
    <InfoCard title="Gender" value={matchedCharacter.gender} />
    <InfoCard
      title="Origin"
      value={matchedCharacter.origin.name}
      url={generatePageUrlFromApiUrl(matchedCharacter.origin.url)}
    />
    <InfoCard
      title="Last Known Location"
      value={matchedCharacter.location.name}
      url={generatePageUrlFromApiUrl(matchedCharacter.location.url)}
    />
    <InfoCard
      title="First Seen Episode"
      value={firstSeenEpisode.name}
      url={generatePageUrlFromApiUrl(firstSeenEpisode.url)}
    />
    <InfoCard
      title="Last Seen Episode"
      value={lastSeenEpisode.name}
      url={generatePageUrlFromApiUrl(lastSeenEpisode.url)}
    />
  </div>
  <div
    slot="other"
    class="px-8 pt-8 pb-14 sm:pb-0 flex flex-col gap-8 h-full text-center sm:text-left"
  >
    <h2 class="text-with-shadow text-5xl font-poppins text-center">Episodes</h2>
    <EpisodeList episodeUrls={matchedCharacter.episode} />
  </div>
</EntityLayout>
